name: Proactively trigger another repo of github action

on:
  push:
    branches: [testing]
  release:
    types: [published]
  workflow_dispatch:
  


jobs:
  trigger-action:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger another repo of github action
        run: |
          curl \
            -X POST \
            -H 'Authorization: token ${{secrets.REPO_ACCESS_TOKEN}}' \
            -H 'Accept: application/vnd.github.everest-preview+json' \
            https://api.github.com/repos/navelorange1999/passive-github-action/dispatches \
            -d '{"event_type":"trigger-another-repo","client_payload":{"repository": "${{github.repository}}", "ref_type":"${{github.ref_type}}", "ref_name":"${{github.ref_name}}", "job":"${{ github.job }}"}}'