name: Proactively trigger another repo of github action

on: workflow_dispatch

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{secrets.REPO_ACCESS_TOKEN}}
        repository: navelorange1999/passive-github-action
        event-type: trigger-another-repo
        client-payload: '{"repository": "${{github.repository}}", "job": "${{ github.job }}", "ref": "${{ github.ref }}"}'